@page "/login"
@page "/login/{ErrorMessage}"
@attribute [AllowAnonymous]
@inject NavigationManager navManager

<link  rel="stylesheet" href="css/login.css"/>


@if (ErrorMessage !=null)
{
    <div class="text-danger">@ErrorMessage</div>

}

<div id="contenedor">
    <div id=" Central">
        <div id=" login">
            <h3 class="text-center" style="color:blue; font-weight:bold">Iniciar Sesion</h3>
            
            <form id="loginform" method="post" action="/account/login">
                <div class="form-group">
                    <!--  <label>Usuario:</label>
                      <br /> -->
                    <input placeholder="Ingrese su Usuario" type="text" name="Codigo" required class="form-control col-sm-6 col-md-4" />
                </div>
                <br />
                <div class="form-group">
                   
                    <input placeholder="Ingrese su Contraseña" type="password" name="Clave" class="form-control col-sm-6 col-md-4" />
                </div>
                <br />
                <button class="btn btn-primary">Ingresar</button>

            </form>
        </div>
    </div>
</div>

@code {
    [Parameter] public string ErrorMessage {get; set;}


}
